<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/cac6ef9d43.js"
      crossorigin="anonymous"
    ></script>
    <title>Tech Blog</title>
  </head>
  <body>
    <nav
      class="navbar is-dark has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand"></div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" id="home">
            Home
          </a>
          <a class="navbar-item" id="dashboard">
            Dashboard
          </a>
        </div>

        <div class="navbar-end">
          <a class="button is-primary is-rounded" id="signUp">Sign Up</a>
          <a class="button is-white is-rounded" id="logIn">Log In</a>
        </div>
      </div>
    </nav>

    {{{body}}}

  </body>
</html>