<h1>Create Post</h1>
<div style="display: flex; flex-direction:column; ">
  <label>
    Post Title
  </label>
  <input id="title" type="text" />
  <label>
    Content
  </label>
  <input id="content" type="text" />
  <button id="createBtn">Create Post</button>
</div>

<script src="/createpost.js"></script>